<div class="container ">
  <!-- header -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Start Bootstrap</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="text-center">Download</a>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-chat-text-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM4.5 5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7zm0 2.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7zm0 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4z"
              />
            </svg>
            &nbsp; Send Feedback
          </button>
        </li>
      </ul>
    </div>
  </nav>

  <div class="row bg-light text-center">
    <div class="col">
      <br />
      <p class="page1">
        Showcase <br />
        Your App <br />
        Beautifully
      </p>
      <p>
        Launch your mobile app landing page faster with <br />
        this free, open source theme from Start Bootstrap!
      </p>
      <img src="./../assets/imgs/store.png" alt="" />
    </div>
    <div class="col img1">
      <br />
      <img src="./../assets/imgs/mobile.png" alt="" />
    </div>
  </div>

  <br />

  <div class="text-center">
    <div class="col second">
      <br />
      <p class="page2">
        "An intuitive solution to a common <br />
        problem that we all face, wrapped up <br />
        in a single app!"
      </p>
      <img src="./../assets/imgs/tnw.png" alt="" />
    </div>

    <!-- <div class="col">
      <p class="page2"></p>
      <img src="./../assets/imgs/tnw.png" alt="">
    </div> -->
  </div>

  <div class="row bg-light text-center">
    <div class="col img1">
      <br />
      <br />
      <img src="./../assets/imgs/mobile.png" alt="" />
    </div>

    <div class="col">
      <br />
      <br />

      <div class="row">
        <div class="col">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="60"
            height="60"
            fill="currentColor"
            class="bi bi-phone"
            viewBox="0 0 16 16"
          >
            <path
              d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z"
            />
            <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
          </svg>
          <br />
          <p class="size">Device Mockups</p>
          <p>Ready to use HTML/CSS device mockups, no Photoshop required!</p>
        </div>

        <div class="col">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="60"
            height="60"
            fill="currentColor"
            class="bi bi-camera"
            viewBox="0 0 16 16"
          >
            <path
              d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1v6zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2z"
            />
            <path
              d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zm0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"
            />
          </svg>
          <br />
          <p class="size">Flexible Use</p>
          <p>Put an image, video, animation of anything else in the screen!</p>
        </div>

        <div class="w-100"></div>

        <div class="col">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="60"
            height="60"
            fill="currentColor"
            class="bi bi-gift"
            viewBox="0 0 16 16"
          >
            <path
              d="M3 2.5a2.5 2.5 0 0 1 5 0 2.5 2.5 0 0 1 5 0v.006c0 .07 0 .27-.038.494H15a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a1.5 1.5 0 0 1-1.5 1.5h-11A1.5 1.5 0 0 1 1 14.5V7a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2.038A2.968 2.968 0 0 1 3 2.506V2.5zm1.068.5H7v-.5a1.5 1.5 0 1 0-3 0c0 .085.002.274.045.43a.522.522 0 0 0 .023.07zM9 3h2.932a.56.56 0 0 0 .023-.07c.043-.156.045-.345.045-.43a1.5 1.5 0 0 0-3 0V3zM1 4v2h6V4H1zm8 0v2h6V4H9zm5 3H9v8h4.5a.5.5 0 0 0 .5-.5V7zm-7 8V7H2v7.5a.5.5 0 0 0 .5.5H7z"
            />
          </svg>
          <br />
          <p class="size">Free to Use</p>
          <p>
            As always, this theme is free to Open download and use for any
            purpose.
          </p>
        </div>

        <div class="col">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="60"
            height="60"
            fill="currentColor"
            class="bi bi-patch-check"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M10.354 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708 0z"
            />
            <path
              d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z"
            /></svg>
            <br />
          <p class="size">Open Source</p>
          <p>Since this theme is MIT licensed you can use it commercially!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row bg-light text-center">
    <div class="col">
      <br />
      <br />
      <p class="page3">
        Enter a new age <br />
        of web design
      </p>
      <p>
        This section is perfect for featuring some <br />
        information about your application, why it <br />
        was built, the problem it solves, or <br />
        anything else! There's plenty of space for <br />
        text here, so don't worry about writing too <br />
        much.
      </p>
    </div>
    <div class="col img1">
      <br />
      <img src="./../assets/imgs/c1.png" alt="" />
    </div>
  </div>

  <div class="text-center">
    <div
      class="col bg"
      style="background-image: url(./../assets/imgs/laptop3.jpg)"
    >
      <p class="page4">
        Stop waiting. <br />
        Start building.
        <button type="button" class="btn newbtn" href="#">
          Download for free
        </button>
      </p>
    </div>
  </div>

  <div class="text-center">
    <div class="col second">
      <br />
      <br />
      <p class="page2">"Get the app now!"</p>
      <img src="./../assets/imgs/store.png" alt="" />
    </div>

    <div class="footer bg-dark">
      <br />
      <p>
        Ⓒ Your Website 2021. All Rights Reserved. <br />
        Privacy. Terms. FAQ
      </p>
    </div>
  </div>
</div>
